In [ ]:
import pandas as pd
from functools import reduce

# Main datasets creation
This notebook creates two datasets:
- mortes_causa: contains deaths by cause
- main: contains suicide specific info

### upload all datasets

In [106]:
df_mortes_causa = pd.read_csv("dados/our-world-in-data/annual-number-of-deaths-by-cause.csv") #7273
df_continents = pd.read_csv("dados\our-world-in-data\continents-according-to-our-world-in-data.csv")

In [107]:
df_ratio = pd.read_csv("dados\our-world-in-data\share-deaths-suicide.csv")
df_mf_ratio = pd.read_csv("dados\our-world-in-data\Male-Female-Ratio-of-Suicide-Rates.csv") #6188
df_mf = pd.read_csv("dados\our-world-in-data\male-vs-female-suicide.csv")
#df_pesticide nao estamos a usar
df_sex = pd.read_csv("dados\our-world-in-data\suicide-death-rates-by-sex.csv")
df_raties = pd.read_csv("dados\our-world-in-data\suicide-death-rates.csv")
#suicide rate 1990 nao entendo 
df_firearms = pd.read_csv("dados\our-world-in-data\suicide-rate-by-firearm.csv")
df_ages = pd.read_csv("dados\our-world-in-data\suicide-rates-by-age-detailed.csv")

### create list with all datasets and merge them

In [108]:
data_frames = [df_ratio, df_mf_ratio, df_mf, df_sex, df_raties, df_firearms, df_ages]

In [109]:
df_merged = reduce(lambda  left,right: pd.merge(left,right), data_frames)
df_merged

,Entity,Code,Year,Deaths - Self-harm - Sex: Both - Age: All Ages (Percent),Male:female suicide ratio,Male suicide rate (age-standardized),Female suicide rate (age-standardized),Continent,Deaths - Self-harm - Sex: Both - Age: Age-standardized (Rate),Deaths - Self-harm by firearm - Sex: Both - Age: Age-standardized (Rate),Deaths - Self-harm - Sex: Both - Age: 70+ years (Rate),Deaths - Self-harm - Sex: Both - Age: 50-69 years (Rate),Deaths - Self-harm - Sex: Both - Age: All Ages (Rate),Deaths - Self-harm - Sex: Both - Age: 5-14 years (Rate),Deaths - Self-harm - Sex: Both - Age: 15-49 years (Rate)
0,Afghanistan,AFG,1990,0.38,2.70,14.75,5.46,NaN,8.28,0.40,10.69,12.47,6.10,0.41,10.12
1,Afghanistan,AFG,1991,0.39,2.73,14.81,5.43,NaN,8.17,0.39,10.57,12.36,5.96,0.39,9.93
2,Afghanistan,AFG,1992,0.41,2.75,14.80,5.38,NaN,8.14,0.39,10.52,12.34,5.88,0.39,9.88
3,Afghanistan,AFG,1993,0.42,2.78,15.02,5.41,NaN,8.23,0.40,10.55,12.50,5.90,0.39,10.06
4,Afghanistan,AFG,1994,0.41,2.79,15.34,5.50,NaN,8.36,0.40,10.62,12.73,5.93,0.38,10.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5427,Zimbabwe,ZWE,2013,1.53,2.81,43.91,15.62,NaN,24.37,1.03,87.29,48.57,15.43,0.25,20.35
5428,Zimbabwe,ZWE,2014,1.60,2.77,42.60,15.36,NaN,24.38,1.00,86.82,48.52,15.57,0.25,20.56
5429,Zimbabwe,ZWE,2015,1.68,2.82,42.22,14.96,Africa,24.57,0.99,86.69,48.59,15.88,0.27,21.04
5430,Zimbabwe,ZWE,2016,1.75,2.82,41.69,14.77,NaN,24.53,0.97,85.61,48.21,16.05,0.28,21.32
5431,Zimbabwe,ZWE,2017,1.80,2.83,41.08,14.49,NaN,24.29,0.95,84.05,47.59,16.08,0.29,21.36

### fix continent info

In [110]:
df_continents = df_continents.drop(columns=['Entity','Year'])
df_continents

         Code Continent
0    OWID_ABK      Asia
1         AFG      Asia
2    OWID_AKD      Asia
3         ALB    Europe
4         DZA    Africa
..        ...       ...
280  OWID_YGS    Europe
281       ZMB    Africa
282  OWID_ZAN    Africa
283       ZWE    Africa
284       ALA    Europe

[285 rows x 2 columns]

In [111]:
df_merged = df_merged.drop(columns=['Continent'])
df_main = df_merged.merge(df_continents,how='left',left_on='Code',right_on='Code')
df_main

,Entity,Code,Year,Deaths - Self-harm - Sex: Both - Age: All Ages (Percent),Male:female suicide ratio,Male suicide rate (age-standardized),Female suicide rate (age-standardized),Deaths - Self-harm - Sex: Both - Age: Age-standardized (Rate),Deaths - Self-harm by firearm - Sex: Both - Age: Age-standardized (Rate),Deaths - Self-harm - Sex: Both - Age: 70+ years (Rate),Deaths - Self-harm - Sex: Both - Age: 50-69 years (Rate),Deaths - Self-harm - Sex: Both - Age: All Ages (Rate),Deaths - Self-harm - Sex: Both - Age: 5-14 years (Rate),Deaths - Self-harm - Sex: Both - Age: 15-49 years (Rate),Continent
0,Afghanistan,AFG,1990,0.38,2.70,14.75,5.46,8.28,0.40,10.69,12.47,6.10,0.41,10.12,Asia
1,Afghanistan,AFG,1991,0.39,2.73,14.81,5.43,8.17,0.39,10.57,12.36,5.96,0.39,9.93,Asia
2,Afghanistan,AFG,1992,0.41,2.75,14.80,5.38,8.14,0.39,10.52,12.34,5.88,0.39,9.88,Asia
3,Afghanistan,AFG,1993,0.42,2.78,15.02,5.41,8.23,0.40,10.55,12.50,5.90,0.39,10.06,Asia
4,Afghanistan,AFG,1994,0.41,2.79,15.34,5.50,8.36,0.40,10.62,12.73,5.93,0.38,10.30,Asia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5427,Zimbabwe,ZWE,2013,1.53,2.81,43.91,15.62,24.37,1.03,87.29,48.57,15.43,0.25,20.35,Africa
5428,Zimbabwe,ZWE,2014,1.60,2.77,42.60,15.36,24.38,1.00,86.82,48.52,15.57,0.25,20.56,Africa
5429,Zimbabwe,ZWE,2015,1.68,2.82,42.22,14.96,24.57,0.99,86.69,48.59,15.88,0.27,21.04,Africa
5430,Zimbabwe,ZWE,2016,1.75,2.82,41.69,14.77,24.53,0.97,85.61,48.21,16.05,0.28,21.32,Africa
5431,Zimbabwe,ZWE,2017,1.80,2.83,41.08,14.49,24.29,0.95,84.05,47.59,16.08,0.29,21.36,Africa

In [112]:
df_mortes_causa = df_mortes_causa.merge(df_continents, how='left', left_on='Code', right_on='Code')
df_mortes_causa

,Entity,Code,Year,Number of executions (Amnesty International),Deaths - Meningitis - Sex: Both - Age: All Ages (Number),Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number),Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number),Deaths - Nutritional deficiencies - Sex: Both - Age: All Ages (Number),Deaths - Malaria - Sex: Both - Age: All Ages (Number),Deaths - Drowning - Sex: Both - Age: All Ages (Number),...,Deaths - Poisonings - Sex: Both - Age: All Ages (Number),Deaths - Protein-energy malnutrition - Sex: Both - Age: All Ages (Number),Terrorism (deaths),Deaths - Road injuries - Sex: Both - Age: All Ages (Number),Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number),Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number),Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number),"Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)",Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number),Continent
0,Afghanistan,AFG,2007,15,2933.0,1402.0,450.0,2488.0,393.0,2127.0,...,512.0,2439.0,1199.0,7425.0,7222.0,3346.0,6458.0,481.0,3437.0,Asia
1,Afghanistan,AFG,2008,17,2731.0,1424.0,455.0,2277.0,255.0,1973.0,...,495.0,2231.0,1092.0,7355.0,7143.0,3316.0,6408.0,462.0,3005.0,Asia
2,Afghanistan,AFG,2009,0,2460.0,1449.0,460.0,2040.0,239.0,1852.0,...,483.0,1998.0,1065.0,7290.0,7045.0,3291.0,6358.0,448.0,2663.0,Asia
3,Afghanistan,AFG,2011,2,2327.0,1508.0,473.0,1846.0,390.0,1775.0,...,483.0,1805.0,1525.0,7432.0,6916.0,3318.0,6370.0,448.0,2365.0,Asia
4,Afghanistan,AFG,2012,14,2254.0,1544.0,482.0,1705.0,94.0,1716.0,...,482.0,1667.0,3521.0,7494.0,6878.0,3353.0,6398.0,445.0,2264.0,Asia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7268,Zimbabwe,ZWE,2015,NaN,1439.0,754.0,215.0,3019.0,2518.0,770.0,...,381.0,2990.0,NaN,2373.0,2751.0,1956.0,4202.0,632.0,146.0,Africa
7269,Zimbabwe,ZWE,2016,NaN,1457.0,767.0,219.0,3056.0,2050.0,801.0,...,393.0,3027.0,NaN,2436.0,2788.0,1962.0,4264.0,648.0,146.0,Africa
7270,Zimbabwe,ZWE,2017,NaN,1460.0,781.0,223.0,2990.0,2116.0,818.0,...,398.0,2962.0,0.0,2473.0,2818.0,2007.0,4342.0,654.0,144.0,Africa
7271,Zimbabwe,ZWE,2018,NaN,1450.0,795.0,227.0,2918.0,2088.0,825.0,...,400.0,2890.0,NaN,2509.0,2849.0,2030.0,4377.0,657.0,139.0,Africa
7272,Zimbabwe,ZWE,2019,NaN,1450.0,812.0,232.0,2884.0,2068.0,827.0,...,405.0,2855.0,NaN,2554.0,2891.0,2065.0,4437.0,662.0,136.0,Africa

### reorganize columns

In [113]:
continent = df_main.pop('Continent')
df_main.insert(3, 'Continent', continent)
#df_main

In [114]:
continent2 = df_mortes_causa.pop('Continent')
df_mortes_causa.insert(3, 'Continent', continent2)
#df_mortes_causa

### write dataframes to csv

In [115]:
df_mortes_causa.to_csv('mortes_causa.csv')

In [116]:
df_main.to_csv('main.csv')